body {
    margin: 0 auto;
    max-width: 700px;
}
div#content {
    margin: auto 2em;
}
header {
    margin: 4em auto;
}
h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3em;
    font-weight: 700;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0.5em auto;
}
p.section-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    line-height: 100%;
    font-weight: 700;
    margin: 1.2em auto 0.5em;
}
a {
    color: #0881b3;
    text-decoration: none;
}
p.portfolio-item-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
div.portfolio-item-desc {
    margin-left: 1em;
}
div.portfolio-item-links {
    margin-left: 2em;
}
footer {
    margin: 5em auto;
}
