$body-font: 'Josefin Sans', sans-serif;
$titles-font: 'Yanone Kaffeesatz', sans-serif;

$desktop-width: 1024px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
    font-family: $body-font;
    margin: 0 auto;
    max-width: 700px;
}
div#wrapper {
    margin: auto 2em;
}
a {
    text-decoration: none;
    @include desktop {
        &:hover {
            text-decoration: underline;
        }
    }
    &#logo:hover {
        text-decoration: none;
    }
}

header {
    margin: 4em auto;
    font-family: $titles-font;
    a {
        color: black;
    }
    #logo {
        font-size: 3em;
        font-weight: 700;
    }
    li.header-link {
        display: inline;
        margin: auto 1em;
        font-size: 1.5em;
    }
}

#content {
    p {
        font-size: 1.3em;
        line-height: 1.5em;
        font-weight: 400;
        margin: 0.5em auto;
        &.section-title {
            font-family: $titles-font;
            font-size: 2em;
            line-height: 100%;
            font-weight: 700;
            margin: 1.2em auto 0.5em;
        }
        &.portfolio-item-title {
            font-weight: 600;
        }
    }
    a {
        color: #191970;
    }
    .portfolio-item-desc {
        margin-left: 1em;
    }
    .portfolio-item-links {
        margin-left: 2em;
        font-size: 1.1em;
        a {
            margin: auto 0.5em;
        }
    }
}

footer {
    margin: 3em auto;
    text-align: center;
    color: grey;
    a {
        color: grey;
    }
}

@media (max-width: 600px) {
    header {
        text-align: center;
        ul#header-links {
            margin: 1em auto;
        }
    }
}
@media (min-width: 600px) {
    header ul#header-links {
        float: right;
        margin-top: 1em;
    }
}
